* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  line-height: 1.5;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
}
h1,
h2,
h3 {
  color: #000;
  text-align: center;
  margin: 20px;
}
p {
  color: #fff;
}
/********** SELECT BOX ********/
.select-box {
  text-align: center;
}
.select-box select {
  padding: 10px;
  font-size: 1.2rem;
  font-style: italic;
}
/********** DAY CARD *********/
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  );
  grid-gap: 4rem;
  max-width: 1280px;
  width: 100%;
  padding: 20px;
}
.content-card {
  display: flex;
  align-items: center;
  padding: 20px 0;
  background-color: rgb(4, 124, 230);
  border: 2px solid;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 100%;
  max-width: 280px;
}
.single-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}
.single-user:hover {
  box-shadow: 5px 5px 5px#222;
}
